<!DOCTYPE HTML>
<!--
    Identity by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    Hugo Identity by Pavel Kanyshev
    github.com/aerohub
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ .Site.BaseURL }}/images/icons/{{ .Site.Params.favicon  }}" type="image/png" />
        <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/images/icons/{{ .Site.Params.appletouchicon  }}" />
        <!--[if lte IE 8]><script src="{{ .Site.BaseURL }}/assets/js/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/ie8.css" /><![endif]-->
        <noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/noscript.css" /></noscript>
        <style>
        body {
            height: 100%;
            background-color: #ffffff;
            background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.15) 5%, rgba(0, 228, 255, 0.15)), url("images/backgrounds/{{ .Site.Params.background  }}");
            background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.15) 5%, rgba(0, 228, 255, 0.15)), url("images/backgrounds/{{ .Site.Params.background  }}");
            background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.15) 5%, rgba(0, 228, 255, 0.15)), url("images/backgrounds/{{ .Site.Params.background  }}");
            background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.15) 5%, rgba(0, 228, 255, 0.15)), url("images/backgrounds/{{ .Site.Params.background  }}");
            background-repeat: repeat,            no-repeat,            no-repeat;
            background-size: 100px 100px, cover, auto;
            background-position: top left, center, top right;
            background-attachment: fixed,            fixed,                fixed;
        }
        </style>
        {{ if .Site.Params.show_resume }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/vertical-timeline/css/style.css" />
        <script src="{{ .Site.BaseURL }}/assets/vertical-timeline/js/modernizr.js"></script>
        {{ end }}
        <script src="{{ .Site.BaseURL }}/assets/js/jquery.min.js"></script>
        {{ .Hugo.Generator }}
        <script>
            var loc = window.location.href+'';
            if (loc.indexOf('http://')==0){
                window.location.href = loc.replace('http://','https://');
            }
        </script>
    </head>
    <body class="is-loading">
        <div id="wrapper">
            <div id="main">
                <header>
                    <span class="avatar"><img src="{{ .Site.BaseURL }}/images/avatars/{{ .Site.Params.avatar  }}" alt="" /></span>
                    <h1>{{ .Site.Params.name  }}</h1>
                    <p>{{ .Site.Params.position  }}</p>
                    <ul class="icons">
                        {{ range .Site.Params.social }}
                        <li><a href="{{ .link }}" class="{{ .icon }}">{{ .title }}</a></li>
                        {{ end }}
                        <li><a href="mailto:{{ .Site.Params.email }}" class="fa-envelope-o">Mail</a></li>
                    </ul>
                </header>
                <hr />
                <nav>
                    <ul>
                        {{ if .Site.Params.show_work }}
                        <li onclick="toggleWork();">{{ .Site.Params.work_title }}</li>
                        {{ end }}
                        {{ if .Site.Params.show_skills }}
                        <li onclick="toggleSkills();">{{ .Site.Params.skills_title }}</li>
                        {{ end }}
                        {{ if .Site.Params.show_resume }}
                        <li onclick="toggleResume();">{{ .Site.Params.resume_title }}</li>
                        {{ end }}
                    </ul>
                </nav>
                {{ if .Site.Params.show_work }}
                {{ partial "work.html" . }}
                {{ end }}
                {{ if .Site.Params.show_skills }}
                {{ partial "skills.html" . }}
                {{ end }}
                {{ if .Site.Params.show_resume }}
                {{ partial "resume.html" . }}
                {{ end }}
            </div>

            <footer id="footer">
                <ul class="copyright">
                    <li>&copy; {{ .Site.Params.footer.copyright  }} <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC-0</a></li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li><a href="https://framagit.org/luc/luc.frama.io/">Sources</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <!--[if lte IE 8]><script src="{{ .Site.BaseURL }}/assets/js/respond.min.js"></script><![endif]-->
        <script>
            if ('addEventListener' in window) {
                window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
                document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
            }
            $(document).ready(function() {
                $('#work').hide();
                $('#skills').hide();
                $('#resume').hide();
                var hash = window.location.hash.substring(1);
                switch (hash) {
                    case 'work':
                        toggleWork();
                        break;
                    case 'skills':
                        toggleSkills();
                        break;
                    case 'resume':
                        toggleResume();
                        break;
                }
            });
            function toggleWork() {
                if($('#work:hidden').length !== 0) {
                    $('#work').fadeIn();
                    $('#skills').hide();
                    $('#resume').hide();
                } else {
                    $('#work').fadeOut();
                }
            }
            function toggleSkills() {
                if($('#skills:hidden').length !== 0) {
                    $('#skills ul li').removeClass('transform');
                    $('#skills').fadeIn();
                    $('#skills ul li').addClass('transform');
                    $('#work').hide();
                    $('#resume').hide();
                } else {
                    $('#skills').fadeOut();
                }
            }
            function toggleResume() {
                if($('#resume:hidden').length !== 0) {
                    $('#resume').fadeIn();
                    $('#work').hide();
                    $('#skills').hide();
                    var timelineBlocks = $('.cd-timeline-block'),
                    offset = 1;

                    //hide timeline blocks which are outside the viewport
                    hideBlocks(timelineBlocks, offset);

                    //on scolling, show/animate timeline blocks when enter the viewport
                    $(window).on('scroll', function(){
                        (!window.requestAnimationFrame)
                            ? setTimeout(function(){ showBlocks(timelineBlocks, offset); }, 100)
                            : window.requestAnimationFrame(function(){ showBlocks(timelineBlocks, offset); });
                    });

                    function hideBlocks(blocks, offset) {
                        blocks.each(function(){
                            ( $(this).offset().top > $(window).scrollTop()+$(window).height()*offset ) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                        });
                    }

                    function showBlocks(blocks, offset) {
                        blocks.each(function(){
                            ( $(this).offset().top <= $(window).scrollTop()+$(window).height()*offset && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                        });
                    }
                } else {
                    $('#resume').fadeOut();
                }
            }
        </script>
        <p><img src="https://framaclic.org/h/1aatLnU2OM_" style="border:0;" alt="" /></p>
    </body>
</html>
