<section id="work">
    <ul>
    {{ range .Site.Params.work }}
        <li>
            <h3>{{ .name }}</h3>
            <p>
              {{ .more }}
            </p>
            {{ if .url }}
            <p>
              <a href="{{ .url }}" class="btn">Voir plus</a>
            </p>
            {{ end }}
        </li>
    {{ end }}
    </ul>
</section>
